<div>
    <div class="corp-flag">
        <div class="logo">
            <img src="" alt="">
        </div>
        <h2>
            <span id="corpname">
                <!--上海森普资讯有限公司-->
            </span>
        </h2>
        <div class="corp-info">
            <span id="corp-city">
                <!--上海-->
            </span>
            <b>|</b>
            <span id="corp-scale">
                <!--500-1000人-->
            </span>
            <b>|</b>
            <span id="corp-industry">
                <!--银行保险-->
            </span>
        </div>
    </div>
    <div class="corp-video">
        <div class="inner-box">
            <div class="video-wrap">
                <video
                       controls
                        <% <!--全屏设置，设置为 true 是防止横屏--> %>
                       x5-video-player-fullscreen="true"
                       x-webkit-airplay="true"
                       webkit-playsinline="true"
                >
                    <source src="./video/vv.mp4#t=5,10" type="video/mp4"
                    />
                    <p>您的浏览器不支持video元素。</p>
                </video>
                <p class="corp-video-name" id="video-name">
                    51金融圈宣传片-2017
                </p>
            </div>
        </div>
    </div>
    <div class="corp-brief">
        <div class="inner-box">
            <h3 class="subtitle">公司简介</h3>
            <div class="corp-intro">
                <p id="intro-brief">
                    <!--51金融圈（51jrq）是中国的一家基于互联网科技的金融行业人才咨询公司，设立于2014年位于上海陆家嘴金融聚集地。-->
                </p>
            </div>
            <a id="show-more"
               class="show-more"
               href="javascript:void(0)"
            >
                <span>查看更多</span>
                <i class="inline-block"></i>
            </a>
        </div>
    </div>
    <% include ../components/corp-addr.ejs %>
    <!--<div class="corp-posts">-->
        <!--<div class="inner-box">-->
            <!--<h3 class="subtitle">该公司发布的所有职位</h3>-->
            <!--<div class="related-job">-->
                <!--<% include ../components/postbox.ejs %>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>