//Created by lollipop 2017/12/27
.interview-page {
  .interview {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 0.1rem;
    background-color: #fff;
    input,textarea {
      border: 0;
      outline: none;
      font-family: PingFangSC-Regular;
      font-size: 0.14rem;
      color: #262626;
    }
    .fillitem {
      .name,
      .fontover {
        font-family: PingFangSC-Regular;
        font-size: 0.14rem;
        color: #a0a0a0;
      }
      .txt {
        width: 100%;
        height: 0.8rem;
        padding: 0.05rem;
        outline: medium medium $theme-color;
      }
      .fontover {
        span {
          float: right;
        }
      }
    }
    .btn {
      display: block;
      margin: 0 auto;
      width: 1.42rem;
      height: 0.4rem;
      background-image: linear-gradient(90deg,
              #ff9e00 0%,
              #ffbd00 100%);
      border-radius: 0.08rem;
      font-family: PingFangSC-Regular;
      font-size: 0.16rem;
      color: #ffffff;
    }
  }
}

