<div class="news-header">
    <div class="inner-box">
        <h2>全力扶持中小微企业京东金融谱写金融科技新篇幅</h2>
        <div class="news-illus">
            <span class="source">51金融圈</span>
            <span class="time">2017-09-15</span>
        </div>
        <div class="img-box">
            <img src="" alt="">
        </div>
        <div class="article">
            <p class="para">
                针对普惠金融的未来发展，京东金融陈生强指出，未来金融发展应以人工智能为核心，去重点扶持中小微企业，并与传统金融机构互相合作，实现行业共同发展，做到真正意义上的普惠金融理念。
            </p>
            <p class="para">
                作为把金融科技设立为自身发展要素的京东金融，自成立以来取得了长足发展，这在业内是有目共睹的。在2017年年会中，京东集团首席执行官刘强东公开表示京东金融3年来交易规模增长了8.65倍，所交易额已经突破1万亿元，为超过1亿用户和超过20万家企业提供服务，在对市场和用户的洞察上，也均处于行业领先位置，京东金融更有望在2020年成为全球金融科技公司TOP3。
            </p>
        </div>
    </div>
</div>