<% include ../components/head.ejs %>
<body>
<div class="jobinfo-page">
    <% include ../components/posi-brief.ejs %>
    <% include module.ejs %>
</div>
<script src="js/require.js" data-main="js/jobinfo"></script>
</body>
</html>