<div class="job-desc">
    <div class="inner-box">
        <h3 class="subtitle">职位描述</h3>
        <div class="desc"></div>
        <!--
        <div class="job-duty">
            <div class="title">岗位职责：</div>
            <p>
                1、有效整合公司互联网端线上资源，并通过各类渠道，接触、发展、开拓并筛选、转化有效客户；
            </p>
            <p>
                2、通过对高端私人客户的的综合理财需求分析，有效把握客户实际需求，有效协调相应资源，配合产品或咨询专家，帮助客户制订全方位资产配置方案，并向客户提供高端理财产品，使资产保值、增值；
            </p>
            <p>
                3、通过参与组织的理财沙龙和理财讲座等活动的筹备工作，提升客户转化率；
            </p>
            <p>
                4、通过持续跟进与服务，为客户不断提供专业的理财咨询与服务，持续维护客户，并妥善管理客户资料。
            </p>
        </div>
        <div class="job-ask">
            <div class="title">岗位要求：</div>
            <p>
                1、金融类、投资类相关专业，全日制本科及以上学历背景；
            </p>
            <p>
                2、具备各类金融知识，如私募基金、信托产品、资管产品、风险管理等，拥有相关产品销售经验者优先；
            </p>
            <p>
                3、性格开朗，具备较强的计划、控制能力和优秀的沟通、协调、抗压能力；
            </p>
            <p>
                4. 业务推动能力强，具备一定的语言文字表达能力及谈判能力；
            </p>
            <p>
                5. 工作细心、积极有热情，有志于在互联网金融行业长期发展。
            </p>
        </div>
        -->
    </div>
</div>
<% include ../components/corp-addr.ejs %>
<div class="job-prom">
    <div class="inner-box">
        <h3 class="subtitle">相关职位推荐</h3>
        <div class="related-job">
            <% <!--include ../components/postbox.ejs--> %>
        </div>
    </div>
</div>
