<div class="corp-addr">
    <div class="inner-box">
        <h3 class="subtitle">公司地址</h3>
        <div class="addr-info">
            <i class="inline-block icon-addr"></i>
            <a href="javascript:void(0)" class="inline-block addr-detail">
                上海市浦东新区东方路999号9楼909
            </a>
            <a href="javascript:void(0)" class="inline-block arrow-right"></a>
        </div>
    </div>
</div>