<!Doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="Author" content="lollipop">
    <title><%= data.filename %></title>
    <!-- Path to Framework7 iOS CSS theme styles-->
    <link rel="stylesheet" href="framework7/css/framework7.ios.min.css">
    <!-- Path to Framework7 iOS related color styles -->
    <!--<link rel="stylesheet" href="path/to/framework7.ios.colors.min.css">-->
    <!-- Path to your custom app styles-->
    <!--<link rel="stylesheet" href="path/to/my-app.css">-->
</head>
