<div class="posi-brief clearfix">
    <div class="out-box">
        <div class="inner-box">
            <div class="wrap">
                <header>
                    <h2 >
                    <span id="jobname">
                        <!--投资理财经理-->
                    </span>
                    </h2>
                </header>
                <div class="posi-info">
                    <span id="posi_city">
                        <!--上海-->
                    </span>
                    <!--<b>|</b>
                    <span id="posi_section">
                        浦东新区
                    </span>-->
                    <!--<b>|</b>-->
                    <span id="posi_workyears">
                        <!--5年以上-->
                    </span>
                    <!--<b>|</b>-->
                    <span id="posi_edu">
                        <!--本科-->
                    </span>
                </div>
                <div id="benifit" class="benifit">
                    <!--<div class="inline-block">
                        五险一金
                    </div>
                    <div class="inline-block">
                        弹性工作
                    </div>
                    <div class="inline-block">
                        班车
                    </div>
                    <div class="inline-block">
                        带薪年假
                    </div>-->
                </div>
                <div id="salary" class="salary">
                    <!--10-15k-->
                </div>
            </div>
            <div class="corp-wrap">
                <div class="corp-info">
                    <div class="logo">
                        <div class="mask"></div>
                        <img src="" alt="" id="corp_logo">
                    </div>
                    <div class="corporation">
                        <p id="cor_name" class="cor-name">
                            <!--上海森普资讯有限公司-->
                        </p>
                        <div class="scale">
                        <span id="size">
                            <!--500-1000人-->
                        </span>
                            <!--<b>|</b>-->
                            <span id="industry">
                            <!--银行保险-->
                        </span>
                        </div>
                    </div>
                </div>
                <div class="arrow-box">
                    <div class="arrow-right"></div>
                </div>
            </div>
        </div>
    </div>
</div>