<div class="postbox">
    <h2 >
       <span class="postname">
            金融顾问
       </span>
    </h2>
    <div class="corpname">
        上海伊尔哈有限公司
    </div>
    <div class="post-info">
        <span class="post-city">
            金融顾问
        </span>
        <b>|</b>
        <span class="post-section">
            上海伊尔哈有限公司
        </span>
        <b>|</b>
        <span class="post-workyears">
            5年以上
        </span>
        <b>|</b>
        <span class="post-edu">
            本科
        </span>
    </div>
    <div class="salary">
        10-15k
    </div>
</div>