//Created by lollipop 2018/1/2
.resume-page {
  .candi-flag {
    padding: 0.2rem 0;
    text-align: center;
    background-color: $bg-color;
    font-size: 0;
    .profile {
      margin: 0 auto;
      width: 0.5rem;
      height: 0.5rem;
      background-color: #d7d7d7;
    }
    h2 {
      margin: 0.1rem 0 0.04rem 0;
      line-height: 0.2rem;
      font-family: PingFangSC-Medium;
      font-size: 0.16rem;
      color: #5e5e5e;
    }
    .candi-info {
      line-height: 0.2rem;
      font-family: PingFangSC-Regular;
      font-size: 0.14rem;
      color: #a0a0a0;
    }
  }
  .candi-brief {
    .top-line {
      width: 100%;
      position: relative;
      top: -0.14rem;
      &:before {
        @include border-top;
      }
    }
    background-color: $bg-color;
    font-size: 0;
    .h18 {
      line-height: 0.18rem;
      font-family: PingFangSC-Regular;
      font-size: 0.14rem;
      color: #a0a0a0;
      label {
        display: inline-block;
        width: 0.64rem;
        text-align: justify;
        overflow:hidden;
        vertical-align: top;
        i {
          display: inline-block;
          width: 100%;
          height: 0;
        }
      }
      span {
        font-family: PingFangSC-Regular;
        font-size: 0.14rem;
        color: #262626;
        text-overflow: ellipsis;
      }
    }
  }
  .job-prefe {
    margin-top: 0.1rem;
    background-color: $bg-color;
    .prefe-box {
      padding-top: 0.1rem;
      .prefe-brief {
        margin-bottom: 0.04rem;
        line-height: 0.16rem;
        font-family: PingFangSC-Regular;
        font-size: 0.14rem;
        color: #656565;
      }
      .prefe-detail {
        line-height: 0.16rem;
        font-family: PingFangSC-Regular;
        font-size: 0.12rem;
        color: #a0a0a0;
      }
    }
  }
  .evalu {
    margin-top: 0.1rem;
    background-color: $bg-color;
    .evalu-box {
      padding-top: 0.1rem;
      p {
        font-family: PingFangSC-Regular;
        font-size: 0.14rem;
        line-height: 0.2rem;
        color: #656565;
      }
    }
  }
  .work-exper {
    margin-top: 0.1rem;
    background-color: $bg-color;
    .exper-box {
      padding-top: 0.1rem;
      .exper-time {
        margin-bottom: 0.04rem;
        line-height: 0.16rem;
        font-family: PingFangSC-Regular;
        font-size: 0.12rem;
        color: #a0a0a0;
      }
      .corp-name {
        margin-bottom: 0.04rem;
        font-family: PingFangSC-Medium;
        font-size: 0.14rem;
        line-height: 0.16rem;
        color: #ff9e00;
      }
      .job-posi {
        margin-bottom: 0.04rem;
        font-family: PingFangSC-Regular;
        font-size: 0.12rem;
        line-height: 0.16rem;
        color: #a0a0a0;
      }
      .exper-content {
        p {
          font-family: PingFangSC-Regular;
          font-size: 0.14rem;
          line-height: 0.2rem;
          color: #656565;
        }
      }
    }
  }
  .prog-exper {
    margin-top: 0.1rem;
    background-color: $bg-color;
    .prog-name {
      margin-bottom: 0.04rem;
      font-family: PingFangSC-Medium;
      font-size: 0.14rem;
      line-height: 0.16rem;
      color: #ff9e00;
    }
    .prog-box {
      padding-top: 0.1rem;
      .proj-time {
        margin-bottom: 0.04rem;
        line-height: 0.16rem;
        font-family: PingFangSC-Regular;
        font-size: 0.12rem;
        color: #a0a0a0;
      }
      .proj-content {
        p {
          font-family: PingFangSC-Regular;
          font-size: 0.14rem;
          line-height: 0.2rem;
          color: #656565;
        }
      }
    }
  }
  .edu-exper {
    margin-top: 0.1rem;
    background-color: $bg-color;
    .edu-box {
      padding-top: 0.1rem;
      .school-name {
        margin-bottom: 0.04rem;
        font-family: PingFangSC-Medium;
        font-size: 0.14rem;
        line-height: 0.16rem;
        color: #ff9e00;
      }
      .edu-time {
        margin-bottom: 0.04rem;
        line-height: 0.16rem;
        font-family: PingFangSC-Regular;
        font-size: 0.12rem;
        color: #a0a0a0;
      }
      .edu-info {
        font-family: PingFangSC-Regular;
        font-size: 0.14rem;
        line-height: 0.18rem;
        color: #656565;
      }
    }
  }
  .credits {
    margin-top: 0.1rem;
    background-color: $bg-color;
    .credits-box {
      padding-top: 0.1rem;
      .credits-name {
        margin-bottom: 0.04rem;
        font-family: PingFangSC-Medium;
        font-size: 0.14rem;
        line-height: 0.16rem;
        color: #ff9e00;
      }
      .credits-time {
        margin-bottom: 0.04rem;
        font-family: PingFangSC-Regular;
        font-size: 0.12rem;
        line-height: 0.16rem;
        color: #a0a0a0;
      }
      .fromplace {
        font-family: PingFangSC-Regular;
        font-size: 0.14rem;
        line-height: 0.18rem;
        color: #656565;
      }
    }
  }
}