<div class="interview">
    <div class="inner-box">
        <input type="hidden" name="PhxID" id="PhxID" value=""/>
        <input type="hidden" name="jobid" id="jobid" value=""/>
        <div class="fillitem">
            <span class="name">面试时间</span>
            <span class="lie">
                <input type="datetime-local" id="interviewTime" min="2018-01-01T00:00">
            </span>
        </div>
        <div class="fillitem">
            <span class="name">联系电话</span>
            <span class="lie">
                <input type="tel" name="tel" placeholder="请输入联系电话" id="cphone" class="top_txtbox" onfocus="if (placeholder =='请输入联系电话'){placeholder =''}" onblur="if (placeholder ==''){placeholder='请输入联系电话'}" />
            </span>
        </div>
        <div class="fillitem">
            <span class="name">面试地点</span>
            <span class="lie">
                <input type="text" placeholder="请输入面试地点"  id="address"  class="top_txtbox"  onfocus="if (placeholder =='请输入面试地点'){placeholder =''}" onblur="if (placeholder ==''){placeholder='请输入面试地点'}" />
            </span>
        </div>
        <div class="other fillitem">
            <p class="name">其他说明</p>
            <textarea
                    class="txt oText"
                    id="remarks"
                    cols="10"
                    placeholder="(选填)补充您的详细地址、乘车路线或您的面试要求"
                    wrap="hard"
            ></textarea>
            <div class="fontover clearfix"><span class="oSpan"><em>0</em>/100</span></div>
        </div>
        <button class="btn saveIterview">发送邀请</button>
    </div>
</div>
