<% include head.ejs %>
<body>
    <div class="interview-page">
        <% include ../components/posi-brief.ejs %>
        <% include module.ejs %>
    </div>
<% /*data-main属性的作用是，指定网页程序的主模块*/ %>
<script src="../../js/require.js" data-main="../../js/send-interview"></script>
</body>
</html>