//Created by lollipop 2017/12/27
.inner-box {
  padding: 0.14rem;
}
h3.subtitle {
  position: relative;
  &:after {
    @include border-bottom;
  }
  padding-bottom: 0.12rem;
  line-height: 0.2rem;
  font-family: PingFangSC-Medium;
  font-size: 0.16rem;
  color: #656565;
}
/*加载*/
.loading{
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
  background: #fff url(../img/loading.gif) no-repeat 50% 50%;
  background-size: contain;
  opacity:1;
  z-index:9999;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.popup {
  .layui-m-layerbtn {
    background-color: #f2f2f2;
    span {
      font-size: 0.14rem;

    }
    span[yes] {
      color: #ff9e00;
    }
  }
}